
#slider-show{
	margin: 0px auto;
	width: 600px;
	height: 300px;
	border: 1px solid black;
	position: relative;

}
.img-slide{
	width: 600px;
	height: 300px;
	display: block;
}


.prev{
	background: white;
	position: absolute;
	top:100px;
	left:20px;

}
.next{
	background: white;
	position: absolute;
	top:100px;
	right:20px;
}
#main1{
	width: 200px;
    position: relative;
    height: 30px;
    margin-top: -2%;
    margin-left: 55%;
    
}
.main1-1{
	width: 20px;
	height: 20px;
	float:left;
	margin-right: 6px;
	background-color: lightgrey;
	border: 1px solid black;
}

.main1-2{
	width: 20px;
	height: 20px;
	float:left;
	margin-right: 6px;
	background-color: lightgrey;
	border: 1px solid black;
}
.main1-3{
	width: 20px;
	height: 20px;
	float:left;
	margin-right: 6px;
	background-color: lightgrey;
	border: 1px solid black;
}
.main1-4{
	width: 20px;
	height: 20px;
	float:left;
	margin-right: 6px;
	background-color: lightgrey;
	border: 1px solid black;
}
