/*	body{margin: 0px 0px 0px 10px;padding-left: 0px;background-color:  #f1eded }
	.khung{height: 7000px;
		background-color: white}
	.banner{width: 100%;text-align: center;height: 60px}
	.banner ul{text-align: center;
	 padding: 0px 0px 0px 0px}
	.contain{width: 100%;
		text-align: center;
		 height: 230px}
	.main1{
		width: 100%;
	height: 450px;
	background-image:url(images/img/10334506213_f571b7dcf9_o-1700x450.jpg);
}*/

	
	